spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/memoword
    username: user
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  liquibase:
    change-log: classpath:db/changelog/changelog_master.yaml
    enabled: true